name: 'Release'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to be released'
        required: true
        type: string
      base-branch:
        description: 'The branch where we do this release.'
        required: false
        default: ''
        type: string

permissions: {}

jobs:
  release:
    uses: OpenVoxProject/shared-actions/.github/workflows/release.yml@main
    with:
      version: ${{ inputs.version }}
      base-branch: ${{ inputs.base-branch }}
      bump_to_rc_after_release: true
    secrets:
      github_pat: ${{ secrets.OPENVOXBOT_COMMIT_AND_PRS }}
      ssh_private_key: ${{ secrets.OPENVOXBOT_SSH_PRIVATE_KEY }}
